/* Caricamento dei font personalizzati */
@font-face {
  font-family: 'Bitcount Single';
  src: url('./fonts/BitcountSingle-Medium.woff2') format('woff2'),
       url('./fonts/BitcountSingle-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Martian Mono';
  src: url('./fonts/MartianMono-Regular.woff2') format('woff2'),
       url('./fonts/MartianMono-Regular.woff') format('woff');
  font-weight: 400; /* Regular */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Martian Mono';
  src: url('./fonts/MartianMono-Bold.woff2') format('woff2'),
       url('./fonts/MartianMono-Bold.woff') format('woff');
  font-weight: 700; /* Bold */
  font-style: normal;
  font-display: swap;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: "Martian Mono", sans-serif;
  background-color: #fff;
  color: #000;
}

/* --- FIX --- */
/* Imposta l'altezza minima di #root all'intera altezza dello schermo (viewport height) */
#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}